.default-style {
	text-align: left;
}

.setting-item-description {
	padding-bottom: 10px;
}

.inbetween-info-div {
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
